<h1 id="header">Share This Image!</h1>

<%= image_tag @image.link %>

<%= simple_form_for :email, html: {novalidate: false}, url: share_url do |f| %>
  <%= f.input :address, label: 'Email Address', as: :email, required: true %>
  <%= f.input :message, as: :text %>
  <%= f.button :submit, 'Send Email', class: 'btn btn-primary' %>
<% end %>

