<h1 id="header">Show Image</h1>
<div>
  <%= link_to 'Share Image', share_path(@image), class: 'btn btn-primary' %>
</div>
<%= image_tag @image.link%>
<h2>Tags</h2>
<ul class="tag-list">
  <%  @image.tag_list.each do |tag| %>
    <li><%= link_to tag, images_url(tag: tag) %></li>
  <% end %>
</ul>
<%= link_to 'Edit',  edit_image_path(@image), class: 'btn btn-secondary'%>
<%= link_to 'Delete', image_path(@image), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
